<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">

    <title>Valikko</title>
    <link rel="stylesheet" href="/tyylit.css" type="text/css">

</head>
<body>
    <main>

        <h1>Valikko</h1>
        <a href="/all"><button>Hae Kaikki</button></a>
        <a href="/yksiPeliSivu"><button>Hae Peli</button></a>
        <a href="/lisayslomake"><button>Lisää Peli</button></a>
        <a href="/paivityslomake"><button>Muuta pelin tietoja</button></a>
        <a href="/poistaPeli"><button>Poista peli</button></a>
    </main>
    
</body>
</html>